<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1" />
    <title>Travel Planner App</title>
</head>
<body>
    <main id="app">
        <!-- <header class="holder headline">
            <h1 id="heading">
                Trip Planner
            </h1> 
        </header>-->
        <div id="plan-trip">
            <h1 class="header">
                Trip Planner
            </h1>
            <div id="new-trip">
                <h3>Plan Your <br>
                    Next Trip</h3>
            </div>
            <form id="trip-form" class="trip-details" onsubmit="return Client.handleSubmit(event)">
                <h3 id="plan-title">Trip Details</h3>
                <section id="where">
                    <label for="destination">Destination</label>
                        <input id="destination" type="search" placeholder="Where to?">
                </section>
                <section id="dates">
                <label id="start-dt" for="start">Start </label>
                    <input class="trip-dates" id="start" type="date" 
                    min="2020-01-01" max="2035-12-31">
                <label id="end-dt" for="end">End </label>
                    <input class="trip-dates" id="end" type="date" 
                    min="2020-01-01" max="2035-12-31">
                </section>
                <input class="form-submit" id="search-button" type="submit" value="Start Planning">
                </form>
        </div>
        <section id="trip-modal" class="modal">
            <div class="modal-content">
                <div class="trip-summary">
                <div class="trip-summary-divider">
                    <img class="trip-image" src="../media/maldives.jpg"alt="trip image">
                </div>
                <div class="modal-details">
                    <h2 class="locale">Cancun, Mexico</h2>
                    <h3 class="dates">Depart:&nbsp<span id="depart-date">10/1/21 (Thu)</span></h3>
                    <h3 class="dates">Return:&nbsp<span id="return-date">10/13/21 (Sun)</span></h3>
                    <!--<h3>Current Local Time:</h3> -->
                    <h3>Local Time:&nbsp<span id="local-time">7:53 AM, 7/28/21 (Wed)</span></h3>
                    <h3><span class="countdown" >100 days until your trip</span></h3>
                    <div class="btn-group">
                        <button class="trip-btn">Save Trip</button>
                        <button class="trip-btn">Delete Trip</button>
                    </div>
                </div>
            </div>
                <div class="forecast-container">
                    <h3 id="forecast-header">Weather Forecast</h3>
                    <div class="daily-forecasts">
                        <div class="day-forecast">
                        <h4 class="forecast-date">Thu 10/1</h4>
                        <img class="weather-icon" src="../media/weather_icons/a01d.png" alt="few clouds">
                        <div class="high-low">81&#176/69&#176</div>
                        <div class="weather-desc">Few Clouds</div>
                        <img class="precip-icon" src="../media/droplet-2.png" alt="precipitation probability">
                        <span class="precip-prob">1%</span>
                        <div class="sunrise">Sunrise: 7:01AM</div>
                        <div class="sunset">Sunset 6:09 PM</div>
                        </div>
                    </div>
                </div>
                <div class="itinerary">

                </div>
            </div>
        </section>
        <!-- future enhancement: this section would provide a list of all prior entries:-->
        <div class="all-trips">
            <div class="title">
                <h3>My Trips</h3>
            </div>
            <div class = "view-trips">
            <div class="view-entry">
                <!--<div class="title">
                    <h3 id="view-title">Paradise</h3>
                </div> -->
                <div id="entryHolder">
                    <div class="meta-details">
                        <h4>
                            <div id="destination2"></div>
                            <div id="weather"></div>
                            <div id="weather-info">
                                <div id="temp-details">
                                    <div id="temp"></div>
                                </div>
                                <div class="weather-icon"></div>
                            </div>
                            <div id="date"></div>
                        </h4>
                    </div>
                    <div class="mood-holder">
                        <div id="content"></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div id="footer">Trip Planner created & designed by Jerry Yip (https://github.com/jerrycyip)</div>
    </main>
    <!--<script src="app.js" type="text/javascript"></script> -->
</body>

</html>