<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1" />
    <title>Travel Planner App</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet"> -->
    <!-- Use of Google's Material Design Web Fonts & Icons -->
    <!--
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comic Neue" rel="stylesheet">
    -->
    <!--<link rel="stylesheet" href="../styles/style.scss">-->
</head>
<body>
    <main id="app">
        <header class="holder headline">
            <h1 id="heading">
                Trip Planner
            </h1>
        </header>
        <div id="plan-trip">
            <div id="new-trip">
                <h3>Plan Your <br>
                    Next Trip</h3>
            </div>
            <form class="trip-details" onsubmit="return Client.handleSearch(event)">
                <h3 id="plan-title">Trip Details</h3>
                <section id="where">
                    <label for="destination">Destination</label>
                        <input id="destination" type="search" placeholder="Where to?">
                </section>
                <section id="dates">
                <label id="start-dt" for="start">Start </label>
                    <input class="trip-dates" id="start" type="date" 
                    min="2020-01-01" max="2035-12-31" value="2021-04-30">
                <label id="end-dt" for="end">End </label>
                    <input class="trip-dates" id="end" type="date" 
                    min="2020-01-01" max="2035-12-31" value="2021-04-30">
                </section>
                <input class="form-submit" id="search-button" type="submit" value="Start Planning">
                </form>
        </div>
        <!-- future enhancement: this section would provide a list of all prior entries:-->
        <div class="all-trips">
            <div class="title">
                <h3>My Trips</h3>
            </div>
            <div class = "view-trips">
            <div class="view-entry">
                <!--<div class="title">
                    <h3 id="view-title">Paradise</h3>
                </div> -->
                <div id="entryHolder">
                    <div class="meta-details">
                        <h4>
                            <div id="destination2"></div>
                            <div id="weather"></div>
                            <div id="weather-info">
                                <div id="temp-details">
                                    <div id="temp"></div>
                                </div>
                                <div class="weather-icon"></div>
                            </div>
                            <div id="date"></div>
                        </h4>
                    </div>
                    <div class="mood-holder">
                        <div id="content"></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div id="footer">Trip Planner created & designed by Jerry Yip (https://github.com/jerrycyip)</div>
    </main>
    <!--<script src="app.js" type="text/javascript"></script> -->
</body>

</html>