<!DOCTYPE html>
<html>

<head lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, maximum-scale=1" />
<title>Travel Planner App</title>
</head>
<body>
    <main id="app">
        <!-- <header class="holder headline">
            <h1 id="heading">
                Trip Planner
            </h1> 
        </header>-->
        <div id="plan-trip">
            <h1 class="header">
                Travel Planner
            </h1>
            <div id="new-trip">
                <h3>Plan Your <br>
                    Next Trip</h3>
            </div>
            <form id="trip-form" class="trip-details" onsubmit="return Client.handleSubmit(event)">
                <h3 id="plan-title">Trip Details</h3>
                <section id="where">
                    <label for="destination">Destination</label>
                        <input id="destination" type="search" placeholder="Where to?">
                </section>
                <section id="dates">
                <label id="start-dt" for="start">Start </label>
                    <input class="trip-dates" id="start" type="date" 
                    min="2020-01-01" max="2035-12-31">
                <label id="end-dt" for="end">End </label>
                    <input class="trip-dates" id="end" type="date" 
                    min="2020-01-01" max="2035-12-31">
                </section>
                <input class="form-submit" id="search-button" type="submit" value="Start Planning">
                </form>
        </div>
        <section class="modal" id="modal-test">
            <div class="trip-container">
            <div class="modal-content">
                <div class="trip-summary">
                <!--<div class="trip-summary-divider"> -->
                    <div class="trip-image">
                     <!-- <img src="../media/maldives.jpg"alt="trip image">  -->
                </div>
                <div class="modal-details">
                    <h2 class="locale">Cancun, Mexico</h2>
                    <h3 class="dates">Depart:&nbsp<span id="depart-date">10/1/21 (Thu)</span></h3>
                    <h3 class="dates">Return:&nbsp<span id="return-date">10/8/21 (Thu)</span></h3>
                    <!--<h3>Current Local Time:</h3> -->
                    <h3>Local Time:&nbsp<span id="local-time">7:53 AM, 7/28 (Wed)</span></h3>
                    <h3><span class="countdown" >100 days until your trip</span></h3>
                    <div class="btn-group">
                        <button class="trip-btn">Save Trip</button>
                        <button class="trip-btn">Delete Trip</button>
                    </div>
                </div>
            </div>
            <div class="trip-daily-detail">
                <div class="trip-daily-container">
                    <div class="trip-daily-wrapper">
                <div class="forecast-container" id="sticky-weather">
                    <div id="forecast-header">
                    <h3 >Weather Forecast</h3>
                     <!-- <span>&nbsp&nbsp[+]</span> -->
                     <button class="expander">&nbsp&nbsp[ Details ]</button>
                    </div>   
                    <div class="daily-forecasts" id="div1">
                        <div class="day-forecast">
                            <div class="day-border">
                        <h4 class="forecast-date">Thu 10/1</h4>
                        <img class="weather-icon" src="../media/weather_icons/a01d.png" alt="few clouds">
                        <div class="high-low">81&#176/69&#176</div>
                        <div class="weather-desc">Few Clouds</div>
                        <img class="precip-icon" src="../media/droplet-2.png" alt="precipitation probability">
                        <span class="precip-prob">1%</span>
                        <div class="sunrise">Sunrise: 7:01AM</div>
                        <div class="sunset">Sunset 6:09 PM</div>
                        <!--<h4 class="forecast-date">Thu 10/1</h4> -->
                        </div>
                    </div>
                    <div class="day-forecast">
                        <div class="day-border">
                            <h4 class="forecast-date">Fri 10/2</h4>
                            <img class="weather-icon" src="../media/weather_icons/a01d.png" alt="few clouds">
                            <div class="high-low">81&#176/69&#176</div>
                            <div class="weather-desc">Few Clouds</div>
                            <img class="precip-icon" src="../media/droplet-2.png" alt="precipitation probability">
                            <span class="precip-prob">1%</span>
                            <div class="sunrise">Sunrise: 7:01AM</div>
                            <div class="sunset">Sunset 6:09 PM</div>
                            </div>
                    </div>
                    <div class="day-forecast">
                        <div class="day-border">
                            <h4 class="forecast-date">Sat 10/3</h4>
                            <img class="weather-icon" src="../media/weather_icons/a01d.png" alt="few clouds">
                            <div class="high-low">81&#176/69&#176</div>
                            <div class="weather-desc">Few Clouds</div>
                            <img class="precip-icon" src="../media/droplet-2.png" alt="precipitation probability">
                            <span class="precip-prob">1%</span>
                            <div class="sunrise">Sunrise: 7:01AM</div>
                            <div class="sunset">Sunset 6:09 PM</div>
                            </div>  
                    </div>
                    <div class="day-forecast">
                        <div class="day-border">
                            <h4 class="forecast-date">Sun 10/4</h4>
                            <img class="weather-icon" src="../media/weather_icons/a01d.png" alt="few clouds">
                            <div class="high-low">81&#176/69&#176</div>
                            <div class="weather-desc">Few Clouds</div>
                            <img class="precip-icon" src="../media/droplet-2.png" alt="precipitation probability">
                            <span class="precip-prob">1%</span>
                            <div class="sunrise">Sunrise: 7:01AM</div>
                            <div class="sunset">Sunset 6:09 PM</div>
                            </div> 
                    </div>
                    <div class="day-forecast">
                        <div class="day-border">
                            <h4 class="forecast-date">Mon 10/5</h4>
                            <img class="weather-icon" src="../media/weather_icons/a01d.png" alt="few clouds">
                            <div class="high-low">81&#176/69&#176</div>
                            <div class="weather-desc">Few Clouds</div>
                            <img class="precip-icon" src="../media/droplet-2.png" alt="precipitation probability">
                            <span class="precip-prob">1%</span>
                            <div class="sunrise">Sunrise: 7:01AM</div>
                            <div class="sunset">Sunset 6:09 PM</div>
                            </div>
                    </div>
                    <div class="day-forecast">
                        <div class="day-border">
                            <h4 class="forecast-date">Tue 10/6</h4>
                            <img class="weather-icon" src="../media/weather_icons/a01d.png" alt="few clouds">
                            <div class="high-low">81&#176/69&#176</div>
                            <div class="weather-desc">Few Clouds</div>
                            <img class="precip-icon" src="../media/droplet-2.png" alt="precipitation probability">
                            <span class="precip-prob">1%</span>
                            <div class="sunrise">Sunrise: 7:01AM</div>
                            <div class="sunset">Sunset 6:09 PM</div>
                            </div> 
                    </div>
                    <div class="day-forecast">
                        <div class="day-border">
                            <h4 class="forecast-date">Wed 10/7</h4>
                            <img class="weather-icon" src="../media/weather_icons/a01d.png" alt="few clouds">
                            <div class="high-low">81&#176/69&#176</div>
                            <div class="weather-desc">Few Clouds</div>
                            <img class="precip-icon" src="../media/droplet-2.png" alt="precipitation probability">
                            <span class="precip-prob">1%</span>
                            <div class="sunrise">Sunrise: 7:01AM</div>
                            <div class="sunset">Sunset 6:09 PM</div>
                            </div> 
                    </div>
                    <div class="day-forecast">
                        <div class="day-border">
                            <h4 class="forecast-date">Thu 10/8</h4>
                            <img class="weather-icon" src="../media/weather_icons/a01d.png" alt="few clouds">
                            <div class="high-low">81&#176/69&#176</div>
                            <div class="weather-desc">Few Clouds</div>
                            <img class="precip-icon" src="../media/droplet-2.png" alt="precipitation probability">
                            <span class="precip-prob">1%</span>
                            <div class="sunrise">Sunrise: 7:01AM</div>
                            <div class="sunset">Sunset 6:09 PM</div>
                            </div> 
                    </div>
                    </div>
                    <div class="itinerary-header">
                        <h3 >Itinerary</h3>
                    </div>
                </div>

                <div class="itinerary-schedule">
                    <div class="itinerary-timeline">7 AM</div>
                    <div class="itinerary-timeline">8 AM</div>
                    <div class="itinerary-timeline">9 AM</div>
                    <div class="itinerary-timeline">10 AM</div>
                    <div class="itinerary-timeline">11 AM</div>
                    <div class="itinerary-timeline">12 PM</div>
                    <div class="itinerary-timeline">1 PM</div>
                    <div class="itinerary-timeline">2 PM</div>
                    <div class="itinerary-timeline">3 PM</div>
                    <div class="itinerary-timeline">4 PM</div>
                    <div class="itinerary-timeline">5 PM</div>
                    <div class="itinerary-timeline">6 PM</div>
                    <div class="itinerary-timeline">7 PM</div>
                    <div class="itinerary-timeline">8 PM</div>
                    <div class="itinerary-timeline">9 PM</div>
                    <div class="itinerary-timeline">10 PM</div>
                    <div class="itinerary-timeline">11 PM</div>
                    <div class="itinerary-more">
                        <button class="expander">[ + ]</button>
                    </div> 
                </div> 
                <div class="itinerary-container">
                    <div class="itinerary-wrapper" id="div2" onscroll="return Client.syncScroll(event)">
                    <div class="itinerary-input">
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr">Lunch resos @____ (example) </div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    </div>
                        <div class="itinerary-input">
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    </div>
                    
                    <div class="itinerary-input">
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                        <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    </div>
                    <div class="itinerary-input">
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                </div> 
                    <div class="itinerary-input">
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                </div> 
                    <div class="itinerary-input">
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                </div>                     
                    <div class="itinerary-input">
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                </div>
                    <div class="itinerary-input">
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                    <div class="textareaElement" contenteditable placeholder="test hr"></div>
                </div> 
            </div>                    
            </div>
    </div>
            </div>
        </div>
    </div>
        </section>
        <!-- future enhancement: this section would provide a list of all prior entries:-->
        <div class="all-trips">
            <div class="title">
                <h3>My Trips</h3>
            </div>
            <div class = "view-trips">
            <div class="view-entry">
                <!--<div class="title">
                    <h3 id="view-title">Paradise</h3>
                </div> -->
                <div id="entryHolder">
                    <div class="meta-details">
                        <h4>
                            <div id="destination2"></div>
                            <div id="weather"></div>
                            <div id="weather-info">
                                <div id="temp-details">
                                    <div id="temp"></div>
                                </div>
                                <div class="weather-icon"></div>
                            </div>
                            <div id="date"></div>
                        </h4>
                    </div>
                    <div class="mood-holder">
                        <div id="content"></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div id="footer">Trip Planner created & designed by Jerry Yip (https://github.com/jerrycyip)</div>
    </main>
    <!--<script src="app.js" type="text/javascript"></script> -->
</body>

</html>