@import "config";

.saved-trip {
    width: 70vw;
    min-width: 70vw;
    max-width: 70vw;
    height: 75vh;
    min-height: 75vh;
 }

#all-trips {
    grid-area: all-trips;
    margin-top: 12px;

}

.title {
    margin-right: 60%;
    border-radius: 10px;
}

.title h3{
    color: black;
    font-size: 2em;
    font-weight: 900;
    border-radius: 5px;
    text-align: center;
}

.view-trips {
    display: flex;
    flex-direction: column;
}
