@import "config";

#footer {
    //padding-top: 10%;
   // grid-area: footer;
    position: fixed;
    width: 100%;
    
    /*
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    */
    align-self:center;
    align-content: center;
    bottom: 0px;
    margin: 0;
    padding: 0;
    background-color: $brand-color-solid;
    background-color: $sky-blue;
    vertical-align: text-bottom;

    align-self:center;
    align-content: center;    
    display: inline;
    color: $brand-color;
    color: white;
    text-align: center;
    text-shadow: 0.75px 0.75px black;
    
    #weather-attrib{
        margin-left: 3em;
        color: $brand-color;
        color: white;
        text-shadow: 0.75px 0.75px black;
    }
    .co-titles{
        color: white;
    }
    #crossing-title{
        //color: black;
        font-weight: 900;
        //text-shadow: none;
    }
        //vertical-align: text-bottom;
    
}

#gh-logo {
    display: inline-block;
    transform: scale(0.3);
    vertical-align: middle;
    margin: -18px;
    margin-top: -20px;
    margin-right: -25px;
    
}
#li-logo {
    display: inline-block;
    transform: scale(0.3);
    vertical-align: middle;
    margin: -15px;
    margin-top: -16px;
}
#vc-logo, #wb-logo{
    display: inline-block;
    transform: scale(0.4);
    vertical-align: middle;
    margin: -18px;
    margin-top: -20px;
    margin-right: -25px;
}

a {
    text-shadow: none;
}
@media only screen and (max-width: 380px){
   /* footer{
        padding: 8px 15px;
    }    

    h1 {
        font-size: .6em;
    }
    */
    #li-logo {
        transform: scale(0.25);
        margin: -22px;
    }
    
    #gh-logo {
        transform: scale(0.25);
        margin: -20px;
    }
    /*
    #li-logo, #gh-logo {
        transform: scale(0.3);
    }
    */
}