@import "config";
   
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

#app {
    display: grid;
    height: 100vh;
    min-height: 100vh;
    width: auto;
    grid-template-rows: 50px 525px auto 35px;
    grid-template-rows: 650px auto 28px;
    grid-template-rows: 80vh auto 28px;
    grid-template-areas: //"heading"
                         "plan-trip" 
                         "all-trips"
                         "footer";
    grid-template-columns: 1fr;
    background: white;
    font-family: "Comic Neue";
}

/* specific rules for sections of the app */
#plan-trip {
    grid-area: plan-trip;
    background-image: url("../media/karsten-winegeart-fd1cQ3mmBTE-unsplash.jpg");
    background-size: cover;
    //padding-top: 5%;
}

.header{
    font-size: 2.2em;
    //font-weight: 800;
    //margin-left:3%;
    text-align: center;
    margin-top: 0.3%;
   // margin-top: -50px;
   color: $brand-color;
   //color: $sky-blue;
   //color: white;
   
    text-shadow: 1px 1px 1px $brand-color;
    text-shadow: 1px 1px 1px black;
    text-shadow: 1.5px 1px 1px lightgrey;
}

#new-trip {
    width: 50%;
    padding-left: 5%;
    padding-right: 7.5%;  
    margin-top: 5%;
    float: left;
}

#new-trip h3 {
    font-size: 3.5em;
    font-weight: 900;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 800px){
    #app {
        grid-template-rows: 65vh auto 28px;

    }
}
@media only screen and (max-width: 650px){
    #app {
        grid-template-rows: 80vh auto 28px;
    }
}