@import "config";

.modal {
   position: fixed;
   margin-top: 6vh;
   margin-bottom: 7vh;
   margin-left: 12.5vw;
   margin-right: 12.5vw;
   z-index: 10;
   width: 75vw;
   height: 87vh;
   min-width: 75vw;
   min-height: 87vh;
   background: rgb(76, 137, 140);
   background: $sky-blue;
   border-radius: 8px;
   border: 1px solid grey;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
   overflow: hidden;
   //display: none;
}
.trip-container {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: lightgrey;
    display: grid;
}
.trip-container::-webkit-scrollbar{
    background: $sky-blue;
    width: 12px;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.7);
}
.trip-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0.5px 0px 0px lightgrey;// rgba(0,0,0,0.5); 
    border-radius: 8px;   
}

.trip-container::-webkit-scrollbar-thumb {
    background: lightgrey;
    -webkit-border-radius: 5px;
}
.modal-content {
    grid-column: 2/-2;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.trip-summary{
    grid-area: trip-summary;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    width: 75vw;
    min-height: 27vh;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas: "summary-image summary-details";
    
}

.trip-image{
    grid-area: summary-image;
    width: 100%;
    height: 100%;
    margin-left: 5%;
    margin-right: 0;
    border-radius: 5px;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.3);
    background-image: url("../media/maldives.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.modal-details{
    grid-area: summary-details;
//    float: right;
    //width: 54%;
    margin-left: 12%;
    margin-right:0;
    text-align: left;
    color: white;
    height: 100%;
    h2, #locale {
        font-size: 2.2em;
        font-weight: 300;
        display: inline-block;
        color: black;
    }

    h3 {
        font-size: 1.4em;
        margin-top: 0.5em;
        font-weight: 400;
        text-shadow: 1px 1px 5px black;
    }
    #locale, #depart-date, #return-date, #local-time {
        color: black;
        text-shadow: none;
    }
    .countdown{
        text-shadow: 1px 1px 5px black;
    }
}
.btn-group{
    display: block;
    margin-top: 2.5%;
    
}
.trip-btn{
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1em;
    font-weight: 300;
    width: 20%;
    min-width: 110px;
    margin-left: 0%;
    margin-right: 7%;
    height: auto;
    padding: .3em;//4px;
    padding-left: .5em;//8px;
    padding-right: .5em;//8px;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    outline: $brand-color;
    input {
            border: 1px solid $brand-color;// black;
            border-radius: 5px;
            outline: $brand-color;
    }
}
.trip-daily-detail{
    height: 65vh;
    max-height: 65vh;
    width: 100%;
}
.trip-daily-container{
   // grid-column: 2/-2;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}
.trip-daily-wrapper{
    overflow-x: scroll;
}
