@import "config";

// declare variables for dynamic grid
:root {
    --colNum: 5;
    --gridHeight: 120px;
  }

/* this class to be added to other classes for collapse functionality via JS Script*/
.display-off{
    display: none;
}
.modal {
   position: fixed;
   margin-bottom: 2.5vh;
   margin-top: 2.5vh;
   margin-bottom: 3.5vh;
   margin-left: 10vw;
   margin-right: 10vw;
   z-index: 10;
   width: 80vw;
   min-width: 80vw;
   max-width: 80vw;
   height: 90.5vh;
   min-height: 90.5vh;
   height: 94vh;
   min-height: 94vh;
   /*
   //height for no itinerary section
   height: 58vh;
   min-height: 58vh;
   */
   background: rgb(76, 137, 140);
   background: $sky-blue;
   border-radius: 8px;
   border: 1px solid grey;
   box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.7);
   overflow: hidden;
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s, opacity 0.5s;
   //display: none;
}

.active {
    visibility: visible;
    opacity: 1;
  }
  
.trip-container {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    overflow-y: auto;
    overflow-x: auto;

    scrollbar-color: lightgrey;
    display: grid;
}
.trip-container::-webkit-scrollbar{
    background: $sky-blue;
    width: 12px;
    height: 12px;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.7);
}
.trip-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0.5px 0px 0px lightgrey;// rgba(0,0,0,0.5); 
    border-radius: 8px;   
}

.trip-container::-webkit-scrollbar-thumb {
    background: lightgrey;
    -webkit-border-radius: 5px;
}
.trip-container::-webkit-scrollbar-corner { 
    background: $sky-blue;
}

.trip-content {
    height: 100%;
    width: 100%;
}

.trip-summary{
    // surface 
    position: sticky;
    position: -webkit-sticky; /* Safari */
    left: 3em;
    grid-area: trip-summary;
    padding-top: 1.25em;
    width: 75vw;
    max-width: 75vw;
    min-width: 75vw;  
    height: 37vh;
    max-height: 37vh;
    min-height: 37vh;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "summary-image summary-details";
    padding-bottom: 0.5em;
}

.trip-image{
    position: sticky;
    position: -webkit-sticky; /* Safari */
    left: 3em;
    grid-area: summary-image;
    width: 100%;
    height: auto;
    //margin-left: 1em;
    margin-right: 0;
    border-radius: 5px;

    /*background-image: url("../media/maldives.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
}

.trip-photo{
    width: 100%;
    max-width: 100%;
    height: 100%;//100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.3);
}
.modal-details{
    position: sticky;
    position: -webkit-sticky; /* Safari */
    right: 0;
    grid-area: summary-details;
    border-left: 1px solid $brand-color;
    margin-left: 8%;
    padding-left: 8%;
    margin-right:0;
    text-align: left;
    color: white;
    height: 37vh;
    max-height: 37vh;
    padding-bottom: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*display: flex;
    flex-direction: column;
    font-size: 1.1em;
    justify-content: space-between;
    padding-bottom: 0.25em;
    */

    h2, #locale {
        font-size: 2em;
        font-weight: 300;
        display: inline-block;
        color: black;
    }
    h3 {
        font-size: 1.2em;
        //margin-top: 0.5em;
        font-weight: 400;
        text-shadow: 1px 1px 5px black;
    }
    /*
    .local-time{
        font-size: 0.95em;
    }
    */
    .locale, .depart-date, .return-date, .duration, .local-time {
        color: black;
        text-shadow: none;  
    }
    /*
    .countdown{
        text-shadow: 1px 1px 5px black;
    }
    */
}
.dtl-flx{
    flex:1;
}

.btn-group{
    display: block;
    //margin-top: 2.5%;
    position: sitcky;
    top: 0;
}
.trip-btn:hover{
    cursor: pointer;
}

.trip-btn{
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1em;
    font-weight: 300;
    width: 20%;
    min-width: 110px;
    margin-left: 0%;
    margin-right: 12.5%;
    height: auto;
    padding: .3em;//4px;
    padding-left: .5em;//8px;
    padding-right: .5em;//8px;
    background-color: white;
    opacity: 1;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    outline: $brand-color;
    input {
            border: 1px solid $brand-color;// black;
            border-radius: 5px;
            outline: $brand-color;
    }
}

.update-btn{
    display: none;
}

