@import "config";

.trip-daily-detail{
    
    max-height: 60vh;
    width: 100%;
}
.trip-daily-container{
   // grid-column: 2/-2;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}
.trip-daily-wrapper{
    /* div allows formatting*/
}
.forecast-container{
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0em;
    /* hide the forecast title*/
    //top: -2.7em;
    height: 100%;
    max-height: 40vh;
    padding-top: 0.25em;
    width: 80vw;
    width: 100%;
    background-color: $sky-blue;
    z-index: 10;
}

.forecast-header {
    height: 100%;
    width: 100%;
    width: 79vw;
    max-width: 79vw;
    margin-right: -0.5em;

    display: grid;
    grid-template-columns: 50% 50%;
    position: sticky;
    left: 0;
    padding-bottom: 0.25em;

    h3 {
        position: sticky;
        position: -webkit-sticky; /* Safari */
        left: 0;
        font-size: 1.75em;
        padding-bottom: 1px;
        font-weight: 400;
        display: inline-block;
        padding-left: 1.75em;
        color: white;
        text-shadow: 1px 1px 5px black;
    }
}

.weather-details{
    //position: sticky;
    //left: 16em;
    display: inline-block;
    margin-left: 1em;
}

.expander{
    //font-size: 0.95em;
    font-weight: 300;
    cursor: pointer;
    // have to confirm if this disables button functionality
    border: none;
    background-color: $sky-blue;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-shadow: 0px 0px 3px white;
    text-shadow: 1px 1px 5px white;
    transform:translateY(-0.22em);
    .expander-arrow{
        font-size: 0.85em;
        text-shadow: 1px 0px 0px white;
    }
}

.expander:hover{
    cursor: pointer;
}

.daily-forecasts{
    height: 100%;
    max-height: 100%;
    min-width: 80vw;
    max-width: 100%;
    padding-top: 10px;
    border-top: 1px solid $brand-color;
    margin-top: 0.3em;
    display: flex;
    flex-direction: row;
    padding-bottom: .75vh;
    // room for the itinerary schedule
    padding-left: 2.25em;
    overflow-x: hidden;
    background-color: $sky-blue;
    padding-right: 0.5em;

    // test out min itin header
    border-bottom: 1px solid $brand-color;
    padding-bottom: 0.75em;
}

.day-forecast{
    display: inline;
    float: left;
    width: 16.5%;
    min-width: 190px;
    //margin-left: -0.65em;
    //padding-right: 1em;
    text-align: center;
    color: white;
    //line-height: 1.45em;
}

.day-border{
    //fixed position weather section    
    position: relative;
    background-color: $sky-blue;
    margin-top: -0.5em;
    border-right: 1px solid $brand-color;
    height: 25vh;
    max-height:230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.forecast-date{
    text-shadow: 1px 1px 5px black;
}

.weather-icon{
    height: 4em;
    margin-top: -9px;
    margin-bottom: -20px;
}

.weather-desc{
    text-shadow: 0px 1px 0px black;
}
.high-low, .precip, .wind-spd, .sunrise, .sunset{
    text-shadow: 0px 1px 0px black;
    font-size: 0.95em;
}
.divider{
    font-size: 1.2em;
    color: $brand-color;// black;
    font-weight: 600;
    text-shadow: 0px 0.5px 0px black;
    border-radius: 4px;
}

.precip-icon{
    height: 1.1em;
    width: auto;
    vertical-align: center;
    transform: translateY(0.15em);
}
.wind-icon{
    height: 0.55em;
    width: auto;
    transform: translateY(-0.04em);
    //transform: translateY(-1.5em);
    //transform: scale(0.65);
}
.sun-icon{
    height: 1.15em;
    width: auto;
    vertical-align: center;
    transform: translateY(0.15em);
}
/*
.sunTime{
    color: black;
    font-size: 0.9em;
    text-shadow: none;
}
*/

.itinerary-header {
    position: sticky;
    left: 0em;
    width: 80vw; 
    min-width: 80vw;
    max-width: 80vw;
    height: 100%;
    background-color: $sky-blue;
    border-bottom: 1px solid $brand-color;
    // test hiding itinerary header
    display: none;
    h3 {
        display: inline-block;
        padding-left: 2em;
        padding-bottom: 0.25em;
        font-size: 1.75em;
        font-weight: 400;
        color: white;
        text-shadow: 1px 1px 5px black;
    }
    h4 {
        display: inline-block;
        margin-left: 2em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        border-radius: 4px;
        padding-bottom: 0.1em;
        padding-top: 0.1em;
        font-size: 1em;
        font-weight: 300;
        border: 1px solid black;
        color: white;
        text-shadow: 1px 1px 1px black;
        background: white;
    }
    .cat-fill {
        margin-left: 0.25em;
        transform:translateY(-0.1em);
        background: none;
        border: none;
        color: black;
        font-size: 1em;
        text-shadow: none;
        text-shadow: 1px 1px 5px white;
        span{
            color: black;
            text-shadow: none;
            text-shadow: 0px 1px 0px white;
        }
    }
}

.itinerary-schedule{
    position: sticky;
    left: 0em;
    float: left;
    display: inline;
    padding-left: 0.25em;
    padding-right: 0.1em;
    margin-top: -0.1em;
    background-color: $sky-blue;
    color: black;
    width: 3em;
}
.expand-itin{
    color: black;
    text-shadow: 0px 1px 1px white;
}
.expand-itin:hover{
    cursor: pointer;
}

.itinerary-timeline{
    min-height: 37px;
    height: 37px;
    text-align: justify;
    font-size: 0.9em;
    margin-top: 0.06em;
}
.itin-up{
    margin-top: -0.4em;
}
.itin-down{
    margin-bottom: -1.45em;
}
.itinerary-container{
    width: 100%;
    max-width: 100%;
    //margin-left: -1em;
    margin-top: 0.75em;
    padding-left: 3em;
    padding-right: 0.5em;

}

.itinerary-wrapper { 
    height: 100%;
    display: flex;
    flex-direction: row;
    //overflow-x: hidden;
    padding-top: 0.25em;
    padding-top: 0em;
    margin-left: -0.75em;
}

.itinerary-input{
    //display: none;
    border-right: 1px solid $brand-color;
    width: 16.5%;
    min-width: 190px;
}

.textareaElement {
    text-align: left;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 1%;
    padding-left: 5px;
    line-height: 1.1em;
    min-height: 35px;
    height: 35px;
    max-height: 35px;
    max-height: 100px;
    min-height: 37px;
    height: 37px;
    max-height: 55px;
    width: 85%;
    min-width: 153px;
    border: 1px solid grey; // #ccc;
    overflow-x: hidden;
    background-color: rgba(255,250,250, 0.9);
    border-radius: 4px;
    color: black;
    margin-bottom: 1px;
    font-size: 0.8em;
    font-weight: 600;
  }

.textareaElement:focus {     
      //outline: none;
      box-shadow: 1pt 2pt 2.5pt 5.5pt $brand-color;
  } 

.food{
    background-color: lightgreen;
}

.activity{
    background-color: lightblue;
}
.entertainment{
    background-color: lightgrey;
}

.logistics{
    background-color: lightyellow;
}


// declare variables for dynamic grid (alternative to SASS variables)
/*
:root {
    --colNum: 5;
    --gridHeight: 120px;
  }

input:focus,
select:focus,
textarea:focus,
button:focus {
    //outline: none;
}

.sunset{
    //border-bottom: 1px solid $brand-color;
}

.sched-expand{
    //font-size: 0.9em;
}

.hourly-details{
    resize: none;
    width: 93%;
    height: 35px;
    border-radius: 4px;
    background-color: rgb(255,250,250);
    margin-bottom: -4px;
}

.itinerary{
    grid-area: trip-itinerary;
    width: 100%;
    min-height: 29vh;
    max-height: 29vh;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1em;
}
*/
/* inside itinerary header */
/*
    .food-cat{
        color: black;
        text-shadow: none;
        span {color: lightgreen;}
    }

    .activity-cat{
        color: black;
        text-shadow: none;
        span{color: lightblue;}
    }
    .logistics-cat{
        color: black;
        text-shadow: none;
        span{color: lightyellow;}
    }
    .entertainment-cat{
        color: black;
        text-shadow: none;
        span {color: lightgray;}
    }
    .shopping-cat{
        color: black;
        text-shadow: none;
        span {color: lightsalmon;}
    }
    .other-cat{
        color: black;
        text-shadow: none;
        span { color: white;}
    }
    span{
        color: black;
        font-size: 0.5em;
        text-shadow: none;
    }
*/

@media only screen and (max-width: 800px){
    .forecast-container {
        font-size:0.9em;
    }
    .forecast-header h3{
        padding-left: 0.5em;
    }
    .weather-details{
        margin-left: 0.25em;
    }
    .btn-group{
        margin-left: 0;
        margin-right: -2em;
    }
    .trip-btn{
        margin-right: 5%;
        padding: .25em;
    }
    .forecast-header{
        padding-left: 0.75em;
    }
    .expander{
        margin-left: 0.25em;
    }
}
@media only screen and (max-width: 580px){
    .expander{
        margin-left: 0.75em;
    }
}